In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.arange(12))
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
dtype: int64

In [3]:
s.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [6]:
array = [['a','a','a','a','b','b','b','b','c','c','c','c'],
         ['a','b','c','d','a','b','c','d','a','b','c','d']]
t = list(zip(array[0], array[1]))
t

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'b'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'c'),
 ('c', 'd')]

In [9]:
mi = pd.MultiIndex.from_tuples(t, names=['primero', 'segundo'])
mi

MultiIndex([('a', 'a'),
            ('a', 'b'),
            ('a', 'c'),
            ('a', 'd'),
            ('b', 'a'),
            ('b', 'b'),
            ('b', 'c'),
            ('b', 'd'),
            ('c', 'a'),
            ('c', 'b'),
            ('c', 'c'),
            ('c', 'd')],
           names=['primero', 'segundo'])

In [10]:
s = pd.Series(np.arange(12), index=mi)
s

primero  segundo
a        a           0
         b           1
         c           2
         d           3
b        a           4
         b           5
         c           6
         d           7
c        a           8
         b           9
         c          10
         d          11
dtype: int64

In [16]:
s.loc[('c','d')]

np.int64(11)

In [17]:
s.loc['a']

segundo
a    0
b    1
c    2
d    3
dtype: int64

In [18]:
s.loc[:,'a']

primero
a    0
b    4
c    8
dtype: int64

In [23]:
from pathlib import Path
data_path = Path('../datos')

In [24]:
dataset = pd.read_csv(data_path / 'data2.csv', sep=',')
dataset

    Id_producto                  Nombre      Categoria  Stock  Ventas
0             1           jabón naranja        jabones      7       3
1             2             jabón limón        jabones      4       6
2             3             jabón avena        jabones      5       5
3             4            jabón canela        jabones      8       2
4             5                amatista      minerales      3       2
5             6            ojo de tigre      minerales      5       2
6             7                 citrino      minerales      3       5
7             8     péndulo de amatista   herramientas     13       5
8             9       péndulo de cuarzo   herramientas      6       3
9            10      collar de amatista      bisutería      6       6
10           11   collar de cuarzo rosa      bisutería     23      54
11           12  collar de ojo de tigre      bisutería     32       4
12           13  agua de luna creciente   herramientas      2       5
13           14      agua de luna llena   herramientas      6       1
14           15  agua de luna menguante   herramientas     34      12
15           16        árbol decorativo  ornamentación      2       4
16           17       árbol de amatista  ornamentación     25       5
17           18      árbol de minerales  ornamentación      5       5
18           19      incienso de romero     sahumerios      3       4
19           20     incienso de lavanda     sahumerios      9       7
20           21      incienso de canela     sahumerios      1       7
21           22        incienso de ruda     sahumerios      6       4

In [25]:
#Multiíndice de columnas

In [26]:
tuplas = [('Column_importantes', 'Id_producto'),
          ('Column_importantes', 'Nombre'),
          ('Column_regulares', 'Categorias'),
          ('Column_regulares', 'Stock'),
          ('Column_importantes', 'Ventas')]
tuplas

[('Column_importantes', 'Id_producto'),
 ('Column_importantes', 'Nombre'),
 ('Column_regulares', 'Categorias'),
 ('Column_regulares', 'Stock'),
 ('Column_importantes', 'Ventas')]

In [27]:
multi = pd.MultiIndex.from_tuples(tuplas)
multi

MultiIndex([('Column_importantes', 'Id_producto'),
            ('Column_importantes',      'Nombre'),
            (  'Column_regulares',  'Categorias'),
            (  'Column_regulares',       'Stock'),
            ('Column_importantes',      'Ventas')],
           )

In [28]:
dataset.columns = multi
dataset

   Column_importantes                         Column_regulares        \
          Id_producto                  Nombre       Categorias Stock
0                   1           jabón naranja          jabones     7
1                   2             jabón limón          jabones     4
2                   3             jabón avena          jabones     5
3                   4            jabón canela          jabones     8
4                   5                amatista        minerales     3
5                   6            ojo de tigre        minerales     5
6                   7                 citrino        minerales     3
7                   8     péndulo de amatista     herramientas    13
8                   9       péndulo de cuarzo     herramientas     6
9                  10      collar de amatista        bisutería     6
10                 11   collar de cuarzo rosa        bisutería    23
11                 12  collar de ojo de tigre        bisutería    32
12                 13  agua de luna creciente     herramientas     2
13                 14      agua de luna llena     herramientas     6
14                 15  agua de luna menguante     herramientas    34
15                 16        árbol decorativo    ornamentación     2
16                 17       árbol de amatista    ornamentación    25
17                 18      árbol de minerales    ornamentación     5
18                 19      incienso de romero       sahumerios     3
19                 20     incienso de lavanda       sahumerios     9
20                 21      incienso de canela       sahumerios     1
21                 22        incienso de ruda       sahumerios     6

   Column_importantes
               Ventas
0                   3
1                   6
2                   5
3                   2
4                   2
5                   2
6                   5
7                   5
8                   3
9                   6
10                 54
11                  4
12                  5
13                  1
14                 12
15                  4
16                  5
17                  5
18                  4
19                  7
20                  7
21                  4

In [30]:
dataset['Column_importantes']

    Id_producto                  Nombre  Ventas
0             1           jabón naranja       3
1             2             jabón limón       6
2             3             jabón avena       5
3             4            jabón canela       2
4             5                amatista       2
5             6            ojo de tigre       2
6             7                 citrino       5
7             8     péndulo de amatista       5
8             9       péndulo de cuarzo       3
9            10      collar de amatista       6
10           11   collar de cuarzo rosa      54
11           12  collar de ojo de tigre       4
12           13  agua de luna creciente       5
13           14      agua de luna llena       1
14           15  agua de luna menguante      12
15           16        árbol decorativo       4
16           17       árbol de amatista       5
17           18      árbol de minerales       5
18           19      incienso de romero       4
19           20     incienso de lavanda       7
20           21      incienso de canela       7
21           22        incienso de ruda       4

In [32]:
dataset.columns.levels

FrozenList([['Column_importantes', 'Column_regulares'], ['Categorias', 'Id_producto', 'Nombre', 'Stock', 'Ventas']])

In [37]:
dataset.columns.get_level_values

<bound method MultiIndex.get_level_values of MultiIndex([('Column_importantes', 'Id_producto'),
            ('Column_importantes',      'Nombre'),
            (  'Column_regulares',  'Categorias'),
            (  'Column_regulares',       'Stock'),
            ('Column_importantes',      'Ventas')],
           )>

In [40]:
dataset.columns.get_level_values(0)

Index(['Column_importantes', 'Column_importantes', 'Column_regulares',
       'Column_regulares', 'Column_importantes'],
      dtype='object')

In [41]:
dataset.columns.get_level_values(1)

Index(['Id_producto', 'Nombre', 'Categorias', 'Stock', 'Ventas'], dtype='object')

In [43]:
dataset.loc[:,[('Column_importantes','Nombre')]]

        Column_importantes
                    Nombre
0            jabón naranja
1              jabón limón
2              jabón avena
3             jabón canela
4                 amatista
5             ojo de tigre
6                  citrino
7      péndulo de amatista
8        péndulo de cuarzo
9       collar de amatista
10   collar de cuarzo rosa
11  collar de ojo de tigre
12  agua de luna creciente
13      agua de luna llena
14  agua de luna menguante
15        árbol decorativo
16       árbol de amatista
17      árbol de minerales
18      incienso de romero
19     incienso de lavanda
20      incienso de canela
21        incienso de ruda

In [44]:
dataset.T

                                           0            1            2   \
Column_importantes Id_producto              1            2            3
                   Nombre       jabón naranja  jabón limón  jabón avena
Column_regulares   Categorias         jabones      jabones      jabones
                   Stock                    7            4            5
Column_importantes Ventas                   3            6            5

                                          3          4             5   \
Column_importantes Id_producto             4          5             6
                   Nombre       jabón canela   amatista  ojo de tigre
Column_regulares   Categorias        jabones  minerales     minerales
                   Stock                   8          3             5
Column_importantes Ventas                  2          2             2

                                       6                    7   \
Column_importantes Id_producto          7                    8
                   Nombre         citrino  péndulo de amatista
Column_regulares   Categorias   minerales         herramientas
                   Stock                3                   13
Column_importantes Ventas               5                    5

                                               8                   9   ...  \
Column_importantes Id_producto                  9                  10  ...
                   Nombre       péndulo de cuarzo  collar de amatista  ...
Column_regulares   Categorias        herramientas           bisutería  ...
                   Stock                        6                   6  ...
Column_importantes Ventas                       3                   6  ...

                                                    12                  13  \
Column_importantes Id_producto                      13                  14
                   Nombre       agua de luna creciente  agua de luna llena
Column_regulares   Categorias             herramientas        herramientas
                   Stock                             2                   6
Column_importantes Ventas                            5                   1

                                                    14                15  \
Column_importantes Id_producto                      15                16
                   Nombre       agua de luna menguante  árbol decorativo
Column_regulares   Categorias             herramientas     ornamentación
                   Stock                            34                 2
Column_importantes Ventas                           12                 4

                                               16                  17  \
Column_importantes Id_producto                 17                  18
                   Nombre       árbol de amatista  árbol de minerales
Column_regulares   Categorias       ornamentación       ornamentación
                   Stock                       25                   5
Column_importantes Ventas                       5                   5

                                                18                   19  \
Column_importantes Id_producto                  19                   20
                   Nombre       incienso de romero  incienso de lavanda
Column_regulares   Categorias           sahumerios           sahumerios
                   Stock                         3                    9
Column_importantes Ventas                        4                    7

                                                20                21
Column_importantes Id_producto                  21                22
                   Nombre       incienso de canela  incienso de ruda
Column_regulares   Categorias           sahumerios        sahumerios
                   Stock                         1                 6
Column_importantes Ventas                        7                 4

[5 rows x 22 columns]

In [45]:
dataset.head()

  Column_importantes                Column_regulares       Column_importantes
         Id_producto         Nombre       Categorias Stock             Ventas
0                  1  jabón naranja          jabones     7                  3
1                  2    jabón limón          jabones     4                  6
2                  3    jabón avena          jabones     5                  5
3                  4   jabón canela          jabones     8                  2
4                  5       amatista        minerales     3                  2

In [46]:
dataset.sort_index(level = 0, axis = 1) #Level 0 para ordenar por el índice de importantes o regulares, el 1 para id, nombre...

   Column_importantes                                Column_regulares
          Id_producto                  Nombre Ventas       Categorias Stock
0                   1           jabón naranja      3          jabones     7
1                   2             jabón limón      6          jabones     4
2                   3             jabón avena      5          jabones     5
3                   4            jabón canela      2          jabones     8
4                   5                amatista      2        minerales     3
5                   6            ojo de tigre      2        minerales     5
6                   7                 citrino      5        minerales     3
7                   8     péndulo de amatista      5     herramientas    13
8                   9       péndulo de cuarzo      3     herramientas     6
9                  10      collar de amatista      6        bisutería     6
10                 11   collar de cuarzo rosa     54        bisutería    23
11                 12  collar de ojo de tigre      4        bisutería    32
12                 13  agua de luna creciente      5     herramientas     2
13                 14      agua de luna llena      1     herramientas     6
14                 15  agua de luna menguante     12     herramientas    34
15                 16        árbol decorativo      4    ornamentación     2
16                 17       árbol de amatista      5    ornamentación    25
17                 18      árbol de minerales      5    ornamentación     5
18                 19      incienso de romero      4       sahumerios     3
19                 20     incienso de lavanda      7       sahumerios     9
20                 21      incienso de canela      7       sahumerios     1
21                 22        incienso de ruda      4       sahumerios     6